@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container p-5">
    <div class="row pt-3 justify-content-center align-items-center">
        <div class="col-5 mr-2" style="border: 1px solid #ccc; border-radius: 10px; padding: 20px; margin-right: 10px;">
            <h3 class="text-primary">OS Overview</h3>
            <p>OS Version: <span class="text-secondary">@Model.OsVersion</span></p>
            <p>OS Architecture: <span class="text-secondary">@Model.OsArchitecture</span></p>
            <p>Total Cores: <span class="text-secondary">@Model.OsCores</span></p>
            <p>Total RAM: <span class="text-secondary">@Model.OsRam GB</span></p>
        </div>
        <div class="col-5 ml-2" style="border: 1px solid #ccc; border-radius: 10px; padding: 20px; margin-left: 10px;">
            <h3 class="text-primary">DB Overview</h3>
            <p>DB Version: <span class="text-secondary"> @Model.DbVersion</span></p>
            <p>Used Space: <span class="text-secondary"> @Model.DbSize GB</span></p>
            <p>Used Cores: <span class="text-secondary"> @Model.DbCores</span></p>
            <p>Used RAM: <span class="text-secondary"> @Model.DbRam GB</span></p>
        </div>
        <div class="col-10" style="border: 1px solid #ccc; border-radius: 10px; padding: 20px; margin-top: 20px;">
            <h3 class="text-primary">SQL Query</h3>
            <form asp-page-handler="Execute" method="post">
                <input asp-for="SqlCommand" type="text" class="form-control" name="sqlCommand" placeholder="Enter your SQL-Command here..." />
                <button type="submit" class="btn btn-outline-warning" style="margin-top: 10px">
                    <div class="d-flex justify-content-center">
                        <i class="bi bi-database-check"></i>&nbsp;Execute
                    </div>
                </button>
            </form>
        </div>
        <div class="col-10" style="border: 1px solid #ccc; border-radius: 10px; padding: 20px; margin-top: 20px; overflow: auto;">
            <h3 class="text-secondary">Result</h3>
            @if (ViewData["Results"] is List<Dictionary<string, object>> results && results.Count > 0)
            {
                <table class="table">
                    <thead>
                    <tr>
                        @foreach (var key in results[0].Keys)
                        {
                            <th>@key</th>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var row in results)
                    {
                        <tr>
                            @foreach (var column in row)
                            {
                                <td>@column.Value</td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

