@page
@model DatabaseManager.Web.Pages.Tables.Review.IndexModel
@{
}

<div class="container-fluid p-5">
    <input type="hidden" value="@Model.Reviews" />
    <div class="row pt-4 align-items-center">
        <div class="col-6">
            <h2 class="text-primary">@Model.ToString() List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-primary" asp-page="/Tables/Review/Add">
                <i class="bi bi-plus-square"></i> &nbsp;Add New @Model.ToString()
            </a>
        </div>
        <div class="col-4">
            <h3 class="text-secondary">Rows: @Model.RowCount</h3>
        </div>
        <div class="col-4">
            <h3 class="text-secondary">Columns: @Model.ColumnCount</h3>
        </div>
        <div class="col-4">
            <h3 class="text-secondary">Used Space: @Model.UsedSpace KB</h3>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr class="table-primary">
            <th>
                Id
            </th>
            <th>
                CustomerId
            </th>
            <th>
                ReviewDate
            </th>
            <th>
                Rating
            </th>
            <th>
                Content
            </th>
            <th>
                GcRecord
            </th>
            <th class="fst-italic">
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.Reviews)
        {
            <input type="hidden" value="@obj.Id" />
            <tr>
                <td width="20%">
                    @obj.Id
                </td>
                <td width="20%">
                    @obj.CustomerId
                </td>
                <td width="10%">
                    @obj.ReviewDate
                </td>
                <td width="10%">
                    @obj.Rating
                </td>
                <td width="10%">
                    @obj.Content
                </td>
                <td width="10%">
                    @obj.GcRecord
                </td>
                <td width="20%">
                    <div class="d-flex justify-content-evenly">
                        <a class="btn btn-outline-warning" asp-page="/Tables/Review/Edit" asp-route-id="@obj.Id">
                            <i class="bi bi-pencil-square"></i>&nbsp;Edit
                        </a>
                        <form asp-page-handler="Remove" asp-route-id="@obj.Id" method="post">
                            <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Do you really want to delete the review with id @obj.Id?');">
                                <div class="d-flex justify-content-center">
                                    <i class="bi bi-x-square"></i>&nbsp;Remove
                                </div>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="pagination-container btn-toolbar" role="toolbar">
        <div class="btn-group me-2" role="group">
            @{
                var currentPage = Model.CurrentPage;
                var totalPages = (Model.RowCount + 9) / 10;
            }
            <!-- Erste Seite -->
            @if (currentPage > 2)
            {
                <a class="btn btn-primary" href="?pageNumber=1">1</a>
            }
            <!-- Vorherige Seite -->
            @if (currentPage > 1)
            {
                <a class="btn btn-primary" href="?pageNumber=@(currentPage - 1)">@((currentPage - 1))</a>
            }
            <!-- Aktuelle Seite -->
            <a class="btn btn-primary active" href="?pageNumber=@currentPage">@currentPage</a>
            <!-- Nächste Seite -->
            @if (currentPage < totalPages)
            {
                <a class="btn btn-primary" href="?pageNumber=@(currentPage + 1)">@((currentPage + 1))</a>
            }
            <!-- Letzte Seite -->
            @if (currentPage < totalPages - 1)
            {
                <a class="btn btn-primary" href="?pageNumber=@totalPages">@totalPages</a>
            }
        </div>
    </div>
</div>